  
 <div id="back"></div>
    
 <h1 class="heading">WELCOME TO AXIS BANK</h1>
    
  <!-- <div class="form-group"> -->
    <div class= "container">
      <img src = "./login/axis.png"><br>
      <label for="accountnum" class="font">ACCOUNT NUMBER</label>
      <input id="acno" type="text" class="form-control " placeholder="Enter Account number">
    <label for="" class="font">USER NAME</label>
    <input id="uname" type="text" class="form-control" placeholder="Enter username">
  <!-- </div> -->
  <!-- <div class="form-group"> -->
    <label for="passw" class="font">PASSWORD</label>
    <input id="pwd" type="text" class="form-control" placeholder="Password">
  <!-- </div> -->
  <button class="btn btn-success" onclick="Bank.login()">Login</button>
  <p>Don't have account? <a href="#">SIGN UP</a> here</p>
  </div>

